In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from tqdm import tqdm
import warnings
from fuzzywuzzy import process

tqdm.pandas()
warnings.filterwarnings("ignore")

In [80]:
DATA_DIR = "D:/assorted/Dropbox/BDO_Data_Odisha/SECC"

In [81]:
def fuzzy_merge(df_1, df_2, key1, key2, threshold=90, limit=2):
    """
    :param df_1: the left table to join
    :param df_2: the right table to join
    :param key1: key column of the left table
    :param key2: key column of the right table
    :param threshold: how close the matches should be to return a match, based on Levenshtein distance
    :param limit: the amount of matches that will get returned, these are sorted high to low
    :return: dataframe with both keys and matches
    """

    s = df_2[key2].tolist()

    m = df_1[key1].apply(lambda x: process.extract(x, s, limit=limit))
    df_1['matches'] = m

    m2 = df_1['matches'].apply(lambda x: ', '.join([i[0] for i in x if i[1] >= threshold]))
    df_1['matches'] = m2

    return df_1

In [82]:
secc = pd.read_csv(f"{DATA_DIR}/Anugul.csv").drop(["Unnamed: 0", "X"], axis=1)
secc

,V1,state,district,tehsil,panchayat,language,auto_inclusion_deprivation_or_exclusion_or_other,head_of_hh,gender,age,...,fathers_and_mothers_name,deprivation_count,auto_inclusion_deprivation_code,total_members,hh_summary_auto_inclusion,hh_summary_auto_exclusion,hh_summary_auto_other,hh_summary_deprivation,village,keep
0,978679,ODISHA,Anugul,Anugul,Amantapur(Village),eng,Auto Inclusion or Deprivation,CHASHI PRADHAN\ଚାଷି ପ୍ରଧାନ,M,50,...,ବାଟି ପ୍ରଧାନ\ଧୁବୁଣୀ ପ୍ରଧାନ,1,"--,--,--,--,--,D6,--",6,NaN,2,5.0,9.0,Amantapur,1
1,978680,ODISHA,Anugul,Anugul,Amantapur(Village),eng,Auto Inclusion or Deprivation,FAKIR PRADHAN\ଫକିର ପ୍ରଧାନ,M,69,...,ଭୀମ ପ୍ରଧାନ\କନକ ପ୍ରଧାନ,1,"--,--,--,--,--,D6,--",5,NaN,2,5.0,9.0,Amantapur,1
2,978681,ODISHA,Anugul,Anugul,Amantapur(Village),eng,Auto Inclusion or Deprivation,PABITRA PRADHAN\ପବିତ୍ର ପ୍ରଧାନ,M,62,...,ଅକୁର ପ୍ରଧାନ\ଜାତକ ପ୍ରଧାନ,2,"--,--,--,--,--,D6,D7",4,NaN,2,5.0,9.0,Amantapur,1
3,978682,ODISHA,Anugul,Anugul,Amantapur(Village),eng,Auto Inclusion or Deprivation,PRASANTA PRADHAN\ପ୍ରଶାନ୍ତ ପ୍ରଧାନ,M,35,...,ଘୁଡୁ ପ୍ରଧାନ\ପଦ୍ମା ପ୍ରଧାନ,2,"D1,--,--,--,--,D6,--",4,NaN,2,5.0,9.0,Amantapur,1
4,978683,ODISHA,Anugul,Anugul,Amantapur(Village),eng,Auto Inclusion or Deprivation,Prashna Pradhan\ପ୍ରସନ୍ନ ପ୍ରଧାନ,M,32,...,ପବିତ୍ର ପ୍ରଧାନ\ମୀନା ପ୍ରଧାନ,2,"--,--,--,--,--,D6,D7",4,NaN,2,5.0,9.0,Amantapur,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280439,1820885,ODISHA,Anugul,Thakurgarh,Uchakurum(Village),eng,Auto Inclusion or Deprivation,SABHAGINI BEHERA\ସଭାଗିନୀ ବେହେରା,F,32,...,ଜୀବନ ବେହେରା\ସୁଲୋଚନା ବେହେରା,2,"--,--,--,--,D5,D6,--",3,NaN,0,NaN,17.0,Uchakurum,1
280440,1820886,ODISHA,Anugul,Thakurgarh,Uchakurum(Village),eng,Auto Inclusion or Deprivation,SANJAY BEHERA\ସଞ୍ଜୟ ବେହେରା,M,34,...,ଭଗବାନ ବେହେରା\ରୁକୁଣା ବେହେରା,3,"D1,--,--,--,D5,D6,--",2,NaN,0,NaN,17.0,Uchakurum,1
280441,1820887,ODISHA,Anugul,Thakurgarh,Uchakurum(Village),eng,Auto Inclusion or Deprivation,SUDHAKAR BEHERA\ସୁଧାକର ବେହେରା,M,37,...,ମଧୁ ବେହେରା\ପଞ୍ଚାଳୀ ବେହେରା,2,"--,--,--,--,D5,D6,--",3,NaN,0,NaN,17.0,Uchakurum,1
280442,1820888,ODISHA,Anugul,Thakurgarh,Uchakurum(Village),eng,Auto Inclusion or Deprivation,SUKUMARI BEHERA\ସୁକୁମାରୀ ବେହେରା,F,67,...,ମେରା ବେହେରା\ସାଧବାଣୀ ବେହେରା,1,"--,--,--,--,D5,--,--",5,NaN,0,NaN,17.0,Uchakurum,1
280443,1820889,ODISHA,Anugul,Thakurgarh,Uchakurum(Village),eng,Auto Inclusion or Deprivation,TARA BEHERA\ତାରା ବେହେରା,F,38,...,ରାଜ ବେହେରା\ଜେମା ବେହେରା,2,"--,--,--,--,D5,D6,--",6,NaN,0,NaN,17.0,Uchakurum,1

In [83]:
pds = pd.read_csv(f"{DATA_DIR}/sampled_data.csv")
pds.drop(pds.columns[:3], axis=1, inplace=True)
pds

,district,block,gp,rc_name,form.no,full.name,spouse.name..,father.name,gen,relation,...,apl_dlr.2,grains.in.qtl.._dlr,koil.in.ltr.._dlr,block.hq_dlr,yes.no_dlr,district_id_dlr,district_name_dlr,block_name_dlr,spouse.name,entitlment..food.option.
0,cuttack,narsinghpur,balisahi,"0709051-GP Office, BALISAHI",1216,DEPIKA PATRA,NaN,BHASHKARA DAS,F,Daughter In Law,...,247.0,234.92,2393.0,11.0,Yes,7.0,CUTTACK,NARSINGHPUR,ALOK PATRA,NaN
1,cuttack,athgarh,khuntuni,"0701181-GP Office, KHUNTUNI",324,LOKANATH DALEI,NaN,TRILOCHAN DALEI,M,Son,...,516.0,217.05,4036.0,10.0,Yes,7.0,CUTTACK,ATHGARH,NaN,NaN
2,cuttack,tangi,kanheipur,"0713111-GP Office, KANHEIPUR",702,SURESH BEHERA,NaN,JALENDRA BEHERA,M,Son,...,200.0,52.20,1065.0,3.0,Yes,7.0,CUTTACK,TANGI,NaN,NaN
3,balasore,soro,anantapur,"0212011-GP Office, ANANTAPUR",873,ARATI MALIK,NIRANJAN MALIK,RAMA MALIK,F,Head,...,106.0,69.26,1065.0,14.0,Yes,2.0,BALASORE,SORO,NaN,NaN
4,jagatsinghpur,kujang,sailo,"1205251-GP Office, SAILO",1993,NARAYAN DAS,KALYANI DAS,MAHESWAR DAS,M,Son,...,550.0,178.30,2424.0,20.0,Yes,12.0,JAGATSINGHPUR,KUJANG,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,dhenkanal,bhuban,mathakargola,"0901151-GP Office, MATHAKARGOLA",1059,SRIBASHA KUMAR SAHOO,JANHA SAHOO,CHAKRADHAR SAHOO,M,Husband,...,817.0,140.39,1965.0,20.0,Yes,9.0,DHENKANAL,BHUBAN,NaN,NaN
9996,boudh,kantamal,baragochha,"0603031-GP Office, BARAGOCHHA",1474,TRIBENI MAHAR,NaN,BHAKTI MAHAR,F,Daughter,...,67.0,336.90,1700.0,27.0,Yes,6.0,BOUDH,KANTAMAL,NaN,NaN
9997,boudh,harbhanga,purunakatak,"0602121-GP Office, PURUNAKATAK",772,BISNUCHARANA SAMAL,/NA,JANADARNA SAMAL,M,Head,...,198.0,468.94,5800.0,5.0,Yes,6.0,BOUDH,HARBHANGA,NaN,NaN
9998,ganjam,polasara,jakara,"1117141-GP Office, JAKARA",234,SULATA KUMARI MOHANTY,KALU CHARAN MOHANTY,BRUNDABAN SWAIN,F,Head,...,300.0,90.96,2350.0,10.0,Yes,11.0,GANJAM,POLASARA,NaN,NaN
9999,ganjam,kukudakhandi,ballipada,"1115041-GP Office, BALLIPADA",409,SANTOSH KUMAR MANKUDA,RANJITA MANKUDA,UJALA KUMAR MAHANKUDA,M,Husband,...,0.0,140.80,0.0,18.0,Yes,11.0,GANJAM,KUKUDAKHANDI,NaN,NaN

In [84]:
pds = pds[pds["relation"] == "Head"][["district", "block", "gp", "form.no", "full.name", "relation", "aadhar.matching.status", "villagename_pds", "entitlment..food.option."]].reset_index(drop=True)
pds["full.name"] = pds["full.name"].apply(lambda x: str(x).upper().replace("_", " "))
pds

,district,block,gp,form.no,full.name,relation,aadhar.matching.status,villagename_pds,entitlment..food.option.
0,balasore,soro,anantapur,873,ARATI MALIK,Head,Authentication Successful,anantapur,NaN
1,ganjam,digapahandi,s.tikarapada,230,PANDI SARDDAR,Head,Authentication Successful,babulibandha,NaN
2,ganjam,digapahandi,bhramarpur,591,SASI NAIKA,Head,Authentication Failed,bhramarapur,NaN
3,jajpur,rasulpur,sribantapur,1043,BIDU ROUT,Head,Authentication Successful,barahampur,NaN
4,balasore,nilgiri,garadihi,525,GITA DAS,Head,Authentication Failed,kalakad,NaN
...,...,...,...,...,...,...,...,...,...
3068,cuttack,baramba,barambagarh,2115,ULLASA SAHOO,Head,Authentication Successful,baramba,2 Kg Rice & 3 Kg Wheat
3069,angul,banarpal,bauligarh,865,GITANJALI SETHI,Head,NaN,bauligarh,NaN
3070,baragarh,paikmal,badikata,1590,KARPURA BARIHA,Head,Authentication Successful,saplahar,NaN
3071,boudh,harbhanga,purunakatak,772,BISNUCHARANA SAMAL,Head,Authentication Failed,rajing,NaN
3072,ganjam,polasara,jakara,234,SULATA KUMARI MOHANTY,Head,Authentication Failed,jakara,NaN

In [90]:
pds_a = pds[pds["district"] == "angul"]
pds_a

,district,block,gp,form.no,full.name,relation,aadhar.matching.status,villagename_pds,entitlment..food.option.
83,angul,talcher,kalamachhuin,538,TAPOI BEHERA,Head,Authentication Failed,prasanprasad,NaN
98,angul,talcher,bantol,942,KAMALA BAL,Head,Authentication Successful,balhar,NaN
139,angul,athamallik,jamudoli,100,PANCHEI ROUL,Head,Authentication Successful,jamudoli,NaN
147,angul,chhendipada,barasahi,841,CHHABILA MAJHI,Head,Authentication Failed,dasaharasahi,NaN
155,angul,angul,rantalei,318,ANJALI GURU,Head,Authentication Successful,rantalei,NaN
...,...,...,...,...,...,...,...,...,...
3013,angul,kaniha,karnapal,799,SAROJINI SAHU,Head,Authentication Successful,karnapal,NaN
3015,angul,kaniha,kaniha,1944,KAMANI DEHURI,Head,Authentication Successful,kansamunda,NaN
3022,angul,kaniha,rengali,1749,MAHARGI GOCHHAYAT,Head,Authentication Successful,rengali,NaN
3035,angul,kishorenagar,gan boinda,10,BILAS BEHERA,Head,Authentication Successful,boinda,NaN
3069,angul,banarpal,bauligarh,865,GITANJALI SETHI,Head,NaN,bauligarh,NaN

In [85]:
secc.drop_duplicates(subset=["state", "district", "tehsil", "panchayat", "village", "head_of_hh"], inplace=True)
secc = secc[["state", "district", "tehsil", "village", "panchayat", "head_of_hh"]]
secc["head_of_hh"] = secc["head_of_hh"].apply(lambda x: str(x.split("\\")[0]).upper().replace("_", " "))
secc

,state,district,tehsil,village,panchayat,head_of_hh
0,ODISHA,Anugul,Anugul,Amantapur,Amantapur(Village),CHASHI PRADHAN
1,ODISHA,Anugul,Anugul,Amantapur,Amantapur(Village),FAKIR PRADHAN
2,ODISHA,Anugul,Anugul,Amantapur,Amantapur(Village),PABITRA PRADHAN
3,ODISHA,Anugul,Anugul,Amantapur,Amantapur(Village),PRASANTA PRADHAN
4,ODISHA,Anugul,Anugul,Amantapur,Amantapur(Village),PRASHNA PRADHAN
...,...,...,...,...,...,...
280439,ODISHA,Anugul,Thakurgarh,Uchakurum,Uchakurum(Village),SABHAGINI BEHERA
280440,ODISHA,Anugul,Thakurgarh,Uchakurum,Uchakurum(Village),SANJAY BEHERA
280441,ODISHA,Anugul,Thakurgarh,Uchakurum,Uchakurum(Village),SUDHAKAR BEHERA
280442,ODISHA,Anugul,Thakurgarh,Uchakurum,Uchakurum(Village),SUKUMARI BEHERA
280443,ODISHA,Anugul,Thakurgarh,Uchakurum,Uchakurum(Village),TARA BEHERA

In [86]:
secc[["district", "tehsil", "village"]].value_counts().reset_index().sort_values(by=["district", "tehsil", "village"])

     district      tehsil      village  count
1507   Anugul      Anugul    Amantapur     16
188    Anugul      Anugul      Ambapal    340
107    Anugul      Anugul  Angarbandha    492
1144   Anugul      Anugul  Ankurabahal     53
768    Anugul      Anugul   Badabahala    101
...       ...         ...          ...    ...
63     Anugul  Thakurgarh   Thakurgarh    613
563    Anugul  Thakurgarh     Tileswar    139
782    Anugul  Thakurgarh  Tumurusinga     99
1506   Anugul  Thakurgarh    Uchakurum     16
215    Anugul  Thakurgarh    kantapada    302

[1660 rows x 4 columns]

In [91]:
pds_a[["district", "block", "gp"]].value_counts().reset_index().sort_values(by=["district", "block", "gp"])

    district        block            gp  count
8      angul        angul  angarabandha      3
30     angul        angul  badakantakul      2
81     angul        angul      badakera      1
82     angul        angul       balanga      1
56     angul        angul    balasingha      2
..       ...          ...           ...    ...
46     angul      talcher    santhapada      2
80     angul      talcher      tentulei      1
79     angul  talcher mpl    ward no 05      1
78     angul  talcher mpl    ward no 17      1
131    angul  talcher mpl    ward no 19      1

[132 rows x 4 columns]

In [96]:
block_merged = fuzzy_merge(pds_a, secc, "block", "tehsil", threshold=80, limit=1)
block_merged[["district", "block", "gp", "full.name", "matches"]].to_csv(f"{DATA_DIR}/block_matches.csv")
block_merged

,district,block,gp,form.no,full.name,relation,aadhar.matching.status,villagename_pds,entitlment..food.option.,matches
83,angul,talcher,kalamachhuin,538,TAPOI BEHERA,Head,Authentication Failed,prasanprasad,NaN,
98,angul,talcher,bantol,942,KAMALA BAL,Head,Authentication Successful,balhar,NaN,
139,angul,athamallik,jamudoli,100,PANCHEI ROUL,Head,Authentication Successful,jamudoli,NaN,
147,angul,chhendipada,barasahi,841,CHHABILA MAJHI,Head,Authentication Failed,dasaharasahi,NaN,
155,angul,angul,rantalei,318,ANJALI GURU,Head,Authentication Successful,rantalei,NaN,Anugul
...,...,...,...,...,...,...,...,...,...,...
3013,angul,kaniha,karnapal,799,SAROJINI SAHU,Head,Authentication Successful,karnapal,NaN,
3015,angul,kaniha,kaniha,1944,KAMANI DEHURI,Head,Authentication Successful,kansamunda,NaN,
3022,angul,kaniha,rengali,1749,MAHARGI GOCHHAYAT,Head,Authentication Successful,rengali,NaN,
3035,angul,kishorenagar,gan boinda,10,BILAS BEHERA,Head,Authentication Successful,boinda,NaN,
3069,angul,banarpal,bauligarh,865,GITANJALI SETHI,Head,NaN,bauligarh,NaN,

In [ ]:
village_merged = fuzzy_merge(pds_a, secc, "gp", "village", threshold=80, limit=1)
village_merged[["district", "block", "gp", "full.name", "matches"]].to_csv(f"{DATA_DIR}/village_matches.csv")
village_merged

In [ ]:
name_merged = fuzzy_merge(pds_a, secc, "full.name", "head_of_hh", threshold=80, limit=1)
name_merged[["district", "block", "gp", "full.name", "matches"]].to_csv(f"{DATA_DIR}/name_matches.csv")
name_merged